.env
dist/
node_modules/
__pycache__/
.DS_Store
*.log
# Ignore local web server config
web-local/ 
# Ignore cache directory
cache/ 
# Ignore OpenStreetMap cache directory
osm_cache/ 
# Uninmportant files i use during development
experimental/ 
# Some very large data in .geojson, .json, .csv, and .tif
data/raw/ 
# For debugging
data/analysis
*.geojson
*.tif
*.json
*.pkl
*.csv
*.gpkg
*.egg-info
